<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    
    </script>
    <title>Document</title>
</head>
<body>
        <!-- {userid: 'aaaa', name:'홍길동', loop:5} -->
    <h1>EJS test</h1>
    <%= name%>님 반갑습니다
    당신의 id는 <%= userid%> 입니다<div class="">
        <% for (let i=0; i<loop; i++){%>
            <li>Loop <%= i%></li>
        <%}%>
    </div>
</body>
</html>