<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            text-align: center;
        }
        img {
            width: 700px;
        }
    </style>
</head>
<body>
    <div>
        <h1>404 NOT FOUND</h1>
        <a href="/"><img src="/image/404.gif" alt="404냥이"></a>
        <h2>Sorry, My cat find that page right meow</h2>
        <p>The page you were looking for doesn't seem to be here.</p>
        <p>Return to <a href="/">Home page</a>?</p>
    </div>
</body>
</html>