<html lang="en">

<head>
    <% include ./inc/header.ejs%>
    <style>

    </style>
</head>

<body>
    <% include ./inc/nav.ejs%>
    <div class="index_image">
        <h1>프리라이더 없는 모임 찾기</h1>
        <div class="input-group find_input">
            <input type="text" class="form-control" placeholder="어떤 모임을 찾으시나요?" id="find" name="find">
            <div class="input-group-append">
                <span class="input-group-text">찾기</span>
            </div>
        </div>

    </div>



    <div class="row side">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3">
                    <div><i class="fas fa-book icon"></i></div>
                    <p>스터디</p>
                </div>
                <div class="col-sm-3">
                    <div><i class="fas fa-comments-dollar icon"></i></div>
                    <p>공모전</p>
                </div>
                <div class="col-sm-3">
                    <div><i class="fas fa-users icon"></i></div>
                    <p>프로젝트</p>
                </div>
                <div class="col-sm-3">
                    <div><i class="fas fa-bullhorn icon"></i></div>
                    <p>홍보</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="rcmnd">
        <h1>이 달의 추천 공모전</h1>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rcm_card">
                    <img class="card-img-top" src="/image/default.jpg" alt="Card image" style="max-width:100%">
                    <div class="card-body">
                        <h4 class="card-title">2019년 한글날 예쁜 우리말 공모전</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>