<html lang="en">

<head>
    <% include ./inc/header.ejs%>
    <script>
        $(() => {
            $.ajax({
                type: 'GET',
                url: '/api/kakaolist',
                success: function (data) {
                    console.log('succerss');
                    console.log(data);
                    $.each(data, function (i, item) {
                        $('#list').append(`
                                <img src="${data[i].img}" alt="1">
                                <h1>${data[i].name}</h1>
                                <p>${data[i].intro}</p>
                                <br>
                           `)
                    })


                },
                error: function (err) {
                    console.log('fail');
                    console.log(err);
                }
            })

        })

    

        function kakao() {
           let searchText = $('#searchkakao').val();
           let $target = $('#list');

           $.ajax({
               type: 'POST',
               url: '/api/filter',
               dataType: 'json',
               data: {
                   "searchText": searchText
               },
               success: function (list) {
                   console.log('success');
                   console.log(list);

                   //target upadate
                   $target.empty();
                   $.each(list, function(i, item) {
                       $target.append(`
                       <img src="${list[i].img}" alt="1">
                                <h1>${list[i].name}</h1>
                                <p>${list[i].intro}</p>
                                <br>
                       `);
                   })

                  
               }
           });
       }

    </script>
    <style>
    
    </style>
</head>

<body>
<% include ./inc/nav.ejs%>
<div>
    <input type="text" id="searchkakao" >
    <button class="btn" id="btn_search" onclick="kakao()">찾기</button>
</div>

<div id="list" class="container"></div>
</body>

</html>