<html lang="en">

<head>
    <% include ./inc/header.ejs%>
    <style>
        .box {
            margin-top: 10%;
            margin-bottom: 104px;
        }

        .form_box {
            padding: 50px;
            background-color: lightblue
        }
    </style>
</head>

<body>
    <% include ./inc/nav.ejs%>
    <div class="container box margin-box">
        <div class="row">
            <div class="col"></div>
            <div class="col form_box">
                <div class="">
                    <h2>Sign up</h2>
                    <form action="/member/signup" method="POST">
                        <div class="form-group">
                            <label for="id">ID:</label>
                            <input type="text" class="form-control" id="userid" placeholder="Enter ID" name="userid">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                name="password">
                        </div>
                        <div class="form-group">
                            <label for="pwdc">Password confirem:</label>
                            <input type="password" class="form-control" id="pwdc" placeholder="Enter password"
                                name="pswdc">
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="name">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Name" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <% include ./inc/footer.ejs%>
</body>

</html>